body{
    margin:auto;
    width: 100%;
    background-color: yellow;
    text-align: center;
}
p{
    color: red;
}
td{
    border: 1px blue solid;
}
#div_killers{
    margin:auto;
    width: 66%;
    background-color: aqua;
}
table{
    margin: 10px auto auto;
}
iframe{
    width: 50%;
}