<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>KillerTitle</title>
    <link th:href="@{/css/styleDraw.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" rel="script" th:src="@{/js/scriptDraw.js}" ></script>
</head>
<body th:onload="start([[${killers}]], [[${maps}]])">
    <div id="div_killers">
        <table>
            <thead>
                <td th:each="killer : ${killers}">
                    <p th:class="'killer' + ${killer.getId()}" th:text="${killer.getName()}" th:onclick="changeOpacityImg([[${killer.getId()}]], 'killer')"></p>
                </td>
            </thead>
            <tr>
                <td th:each="killer : ${killers}">
                    <img th:class="'killer' + ${killer.getId()}" th:src="${killer.getFile()}" th:onclick="changeOpacityImg([[${killer.getId()}]], 'killer')"></p>
                </td>
            </tr>
        </table>
    </div>
    <div id="div_maps">
        <table>
            <thead>
                <td th:each="map : ${maps}">
                    <p th:class="'map' + ${map.getId()}" th:text="${map.getName()}" th:onclick="changeOpacityImg([[${map.getId()}]], 'map')"></p>
                </td>
            </thead>
            <tr>
                <td th:each="map : ${maps}">
                    <img th:class="'map' + ${map.getId()}" th:src="${map.getFile()}" th:onclick="changeOpacityImg([[${map.getId()}]], 'map')">
                </td>
            </tr>
        </table>
    </div>
    <div id="div_addons">
        <table>
            <tr>
                <td>
                    <img src='/img/addons/common.webp' id="addonCommon" class="addonsImg" onclick="onAddonChoose(this)">
                </td>
                <td>
                    <img src='/img/addons/uncommon.webp' id="addonUncommon" class="addonsImg" onclick="onAddonChoose(this)">
                </td>
                <td>
                    <img src='/img/addons/rare.webp' id="addonRare" class="addonsImg" onclick="onAddonChoose(this)">
                </td>
                <td>
                    <img src='/img/addons/veryrare.webp' id="addonVeryRare" class="addonsImg" onclick="onAddonChoose(this)">
                </td>
                <td>
                    <img src='/img/addons/ultrarare.webp' id="addonUltraRare" class="addonsImg" onclick="onAddonChoose(this)">
                </td>
            </tr>
        </table>
    </div>

    <div id="popupEnd">
        <table>
            <thead>
                <td colspan="2">
                    <h1>Wybrano : </h1>
                </td>
            </thead>
            <tr>
                <td>
                    <p id="popupKillerName"></p>
                </td>
                <td>
                    <p id="popupMapName"></p>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <img id="popupKillerImg">
                </td>
                <td>
                    <img id="popupMapImg">
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <h2>Addony : </h2>
                            </td>
                            <td>
                                <img id="popupAddonImg">
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        <button th:onclick="save([[${idMatch}]])">Save</button>
    </div>


    <form name="drawForm" id="drawForm" action="#" th:action="@{saveDraw}" th:object="${draw}" method="POST">
        <input type="number" th:field="*{idKiller}" id="idKillerForm">
        <input type="number" th:field="*{idMap}" id="idMapForm">
        <input type="text" th:field="*{addonName}" id="addonForm">
    </form>
</body>
</html>