<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>KillerTitle</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="../static/js/script.js" th:src="@{/js/script.js}" rel="script"></script>
</head>
<body>
    <p onclick="killers()" id="name11">asjdjasdjas</p>
    <div id="div_killers">
        <table>
            <tr>
                <td>
                    <p>Killer1</p>
                </td>
                <td>
                    <p>Killer2</p>
                </td>
                <td>
                    <p>Killer3</p>
                </td>
            </tr>

            <thead>
                <td>
                    <iframe src="http://localhost:8080/name"
                            id="name1"
                            onclick="killers()"
                    ></iframe>
                </td>
                <td>
                    <iframe src="http://localhost:8080/name" id="name2"></iframe>
                </td>
                <td>
                    <iframe src="http://localhost:8080/name" id="name3"></iframe>
                </td>
            </thead>

        </table>


    </div>
</body>
</html>