<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>KillerTitle</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    <p>Killer1</p>
                </td>
                <td>
                    <p>Killer2</p>
                </td>
                <td>
                    <p>Killer3</p>
                </td>
            </tr>



        </table>


    </div>
</body>
</html>